:root {
  font-family: "Poppins", sans-serif;
}

body {
  padding: 0px;
  margin: 0px;
  display: flex;
}

.aside {
  box-sizing: border-box;
  padding: 36px 31px;
  width: 306px;
  box-shadow: 0px 10px 60px 0px rgba(226, 236, 249, 0.5);
  position: fixed;
  height: 100vh;
  overflow-y: auto;
  background-color: #FFF;
  transition: left 0.3s ease;
  left: 0px;
}

#burger-menu {
  display: none;
}

#close-button {
  display: none;
}

.main {
  margin-left: 306px;
  background-color: #FAFBFF;
  padding: 41px 95px 100px 71px;
  height: 100%;
  flex: 1;
}

.aside__header-section {
  display: flex;
  flex-direction: row;
  margin-bottom: 52px;
  cursor: pointer;
}

.aside__header-section__header {
  font-weight: 600;
  font-size: 26px;
  letter-spacing: 0.01em;
  margin: 0px;
  margin-left: 8px;
}

.aside__header-section__span {
  font-weight: 500;
  font-size: 10px;
  letter-spacing: -0.01em;
  color: #838383;
}

.aside__buttons {
  display: flex;
  flex-direction: column;
}

.aside__buttons__button {
  width: 250px;
  padding: 11px 11px 11px 8px;
  text-align: left;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: -0.01em;
  color:#9197B3;
  background-color: transparent;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  transition: 300ms ease-in-out;
  margin-bottom: 10px;
  box-sizing: border-box;
}

.aside__buttons__button-icon-text {
  display: flex;
  align-items: center;
}

.aside__buttons__button:first-child {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.aside__buttons__button:hover {
  background-color: #5932EA;
  color: white;
}

.aside__buttons__button-text {
  margin-left: 16px;
}

.aside__buttons__button svg path {
  transition: 300ms ease-in-out;
}

.aside__buttons__button:hover svg path.stroke {
  stroke: white;
}

.aside__buttons__button:hover svg path.fill {
  fill: white;
}

.main__header {
  margin: 0px;
  margin-bottom: 51px;
  font-size: 24px;
  font-weight: 500;
  line-height: 36px;
}

.main__all-customers {
  background-color: white;
  border-radius: 30px;
  box-shadow: 0px 10px 60px 0px rgba(226, 236, 249, 0.5);
  max-width: 968px;
}

.main__all-customers__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
  padding: 30px 53px 0px 38px;
}

.main__all-customers__title {
  margin: 0px;
  margin-bottom: 7px;
  letter-spacing: -0.01em;
  font-size: 22px;
  font-weight: 600;
  line-height: 33px;
}

.main__all-customers__status {
  margin: 0px;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: -0.01em;
  color: #16C098;
}

.main__all-customers__search-input {
  background-color: #F9FBFF;
  border: none;
  border-radius: 10px;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  height: 38px;
  width: 216px;
  padding-left: 40px;
  background-image: url(assets/svg/search.svg);
  background-repeat: no-repeat;
  background-position: 11px center;
}

.main__all-customers__search-input::placeholder {
  color: #B5B7C0;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
}

.main__all-customers__footer {
  display: flex;
  justify-content: space-between;
  padding: 0px 40px 40px 38px;
}

.main__all-customers__footer__page-info {
  margin: 0px;
  font-size: 14px;
  font-weight: 500;
  line-height: 21px;
  color: #B5B7C0;
  letter-spacing: -0.01em;
}

.main__all-customers__footer__pagination-button {
  padding: 0px;
  background-color: #F5F5F5;
  border: 1px solid rgb(238, 238, 238);
  border-radius: 4px;
  width: 25px;
  height: 25px;
  cursor: pointer;
  font-size: 12px;
  font-weight: 500;
  line-height: 100%;
  color: #404B52;
  transition: 300ms ease-in-out;
  margin-left: 12px;
}

.main__all-customers__footer__pagination-button_active {
  padding: 0px;
  background-color: #5932EA;
  border: 1px solid #5932EA;
  border-radius: 4px;
  width: 25px;
  height: 25px;
  font-size: 12px;
  font-weight: 500;
  line-height: 100%;
  color: white;
  margin-left: 12px;
}

.main__all-customers__footer__pagination-button:hover {
  background-color: #5932EA;
  border-color: #5932EA;
  color: white;
}

.main__all-customers__footer__pagination-dots {
  font-size: 12px;
  font-weight: 500;
  letter-spacing: -0.01em;
  margin-left: 12px;
}

.main__table {
  display: flex;
  flex-direction: column;
  width: 100%;
  font-size: 14px;
  font-weight: 500;
  line-height: 21px;
  letter-spacing: -0.01em;
  margin-bottom: 30.5px;
}
.main__table-row {
  display: flex;
  flex-direction: row;
  margin: 0px 40px 0px 38px;
  border-bottom: 1px solid #EEEEEE;
  padding: 24.5px 0px 23.5px 0px;
}

.main__table-row:first-child {
  margin: 0px;
  padding: 0px 40px 13px 38px;
}

.main__table-cell {
  flex: 1;
}

.main__table-header {
  text-align: left;
  color: #B5B7C0;
  flex: 1;
}

.main__table-cell__col1 {
  flex: 0 0 20%;
}

.main__table-cell__col2 {
  flex: 0 0 14%;
}

.main__table-cell__col3 {
  flex: 0 0 18%;
}

.main__table-cell__col4 {
  flex: 0 0 22%;
}

.main__table-cell__col5 {
  flex: 0 0 16%;
}

.main__table-cell__col6 {
  flex: 0 0 20%;
}

.main__table__button_active {
  width: 80px;
  background-color: rgba(22, 192, 152, 0.38);
  color: #008767;
  border: 1px solid rgb(0, 176, 135);
  font-size: 14px;
  font-weight: 500;
  line-height: 21px;
  box-sizing: border-box;
  letter-spacing: -0.01em;
  padding: 4px 0px;
  border-radius: 4px;
}

.main__table__button_inactive {
  width: 80px;
  background-color: rgb(255, 197, 197);
  color: #DF0404;
  border: 1px solid rgb(223, 4, 4);
  font-size: 14px;
  font-weight: 500;
  line-height: 21px;
  box-sizing: border-box;
  letter-spacing: -0.01em;
  padding: 4px 0px;
  border-radius: 4px;
}

@media (max-width: 1250px) {
  .main {
    padding: 41px 35px 100px 31px;
    height: 100%;
    flex: 1;
  }
}

@media (max-width: 1150px) {
  .main {
    margin-left: 0;
    z-index: 0;
    padding-left: 60px;
  }

  .aside {
    left: -306px;
    z-index: 100;
    padding-top: 80px;
  }

  #burger-menu {
    display: block;
    position: absolute;
    left: 30px;
    top: 30px;
    cursor: pointer;
  }

  #close-button {
    display: block;
    position: absolute;
    right: 30px;
    top: 30px;
    cursor: pointer;
  }
}

@media (max-width: 850px) {
  .main__all-customers__header {
    padding: 15px 20px 0px 20px;
    margin-bottom: 20px;
  }

  .main__header {
    font-size: 18px;
    margin-bottom: 20px;
  }

  .main__all-customers__title {
    font-size: 16px;
  }

  .main__all-customers__status {
    font-size: 11px;
  }

  .main__all-customers__footer {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .main__all-customers__footer__page-info {
    margin-bottom: 20px;
    font-size: 11px;
    line-height: 15px;
  }

  .main__table {
    font-size: 11px;
    line-height: 15px;
  }

  .main__table-row {
    margin: 0px 10px 0px 10px;
    padding: 8px 0px 5px 0px;
  }

  .main__table-row:first-child {
    padding: 0px 10px 13px 10px;
  }

  .main__table__button_active {
    font-size: 11px;
    line-height: 15px;
    padding: 2px 0px;
    width: 50px;
  }

  .main__table__button_inactive {
    font-size: 11px;
    line-height: 15px;
    padding: 2px 0px;
    width: 50px;
  }

  .main {
    margin-left: 0;
    z-index: 0;
    padding-left: 10px;
    padding-right: 10px;
  }

  #burger-menu {
    left: 10px;
    top: 10px;
  }

  #close-button {
    right: 10px;
    top: 10px;
  }

  .aside__header-section__header {
    font-size: 18px;
  }

  .aside__header-section img {
    width: 20px;
  }

  .aside {
    padding: 25px;
  }

  .aside__header-section {
    margin-bottom: 20px;
  }

  .aside__buttons__button {
    font-size: 11px;
    line-height: 15px;
  }
}

@media (max-width: 600px) {
  .main__table {
    font-size: 9px;
    line-height: 11px;
  }

  .main__table__button_active {
    font-size: 9px;
    line-height: 11px;
  }

  .main__table__button_inactive {
    font-size: 9px;
    line-height: 11px;
  }

  .main__all-customers__search-input {
    width: 100px;
  }

  .main__table-cell__col1 {
    flex: 0 0 18%;
  }
  
  .main__table-cell__col2 {
    flex: 0 0 12%;
  }
  
  .main__table-cell__col3 {
    flex: 0 0 18%;
  }
  
  .main__table-cell__col4 {
    flex: 0 0 25%;
  }
  
  .main__table-cell__col5 {
    flex: 0 0 16%;
  }
  
  .main__table-cell__col6 {
    flex: 0 0 20%;
  }
}

@media (max-width: 450px) {
  .main__table {
    font-size: 7px;
    line-height: 10px;
  }

  .main__table__button_active {
    font-size: 7px;
    line-height: 10px;
    width: 30px;
  }

  .main__table__button_inactive {
    font-size: 7px;
    line-height: 10px;
    width: 30px;
  }

  .main__all-customers__footer {
    padding: 0px 10px 20px 10px;
  }

  .main__all-customers__footer__pagination-button,
  .main__all-customers__footer__pagination-button_active,
  .main__all-customers__footer__pagination-dots
   {
    width: 15px;
    height: 15px;
    font-size: 10px;
    margin-left: 6px;
  }
}